.autForm{
    
    .container_AF{
        display: flex;
        align-items: center;
        max-width: 300px;
        border: 1px solid #000;    

        .container_header{

        }

        .container_enter{
            .inputForm{

            }
        }

        .container_rememeber_forgot{
            .remember{

            }

            .forgot{
                a{
                    text-decoration: none;
                }
            }
        }
        .button_login{

        }
    }
}